@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg1: #f9fafb;
    --color-bg2: #9ca3af;
    --color-header: #030712;
    --color-text: #111827;
    --color-hover: #0e7490;
    --color-btn: #6b7280;
  }
  .Black {
    --color-bg1: #374151;
    --color-bg2: #111827;
    --color-header: #f3f4f6;
    --color-text: #9ca3af;
    --color-hover: #67e8f9;
    --color-btn: #6b7280;
  }
  .Fire {
    --color-bg1: #b91c1c;
    --color-bg2: #7f1d1d;
    --color-header: #f59e0b;
    --color-text: #d97706;
    --color-hover: #fde68a;
    --color-btn: #b45309;
  }
  .Ice {
    --color-bg1: #0899bd;
    --color-bg2: #22d3ee;
    --color-header: #172554;
    --color-text: #083344;
    --color-hover: #1d4ed8;
    --color-btn: #155e75;
  }
  .Earth {
    --color-bg1: #1a2e05;
    --color-bg2: #3f6212;
    --color-header: #f59e0b;
    --color-text: #d97706;
    --color-hover: #92400e;
    --color-btn: #365314;
  }
  .Light {
    --color-bg1: #fde047;
    --color-bg2: #fef9c3;
    --color-header: #422006;
    --color-text: #713f12;
    --color-hover: #a16207;
    --color-btn: #facc15;
  }
  .Dark {
    --color-bg1: #3b0764;
    --color-bg2: #1e1b4b;
    --color-header: #a855f7;
    --color-text: #7e22ce;
    --color-hover: #4f46e5;
    --color-btn: #6b21a8;
  }
}